$dark: #1d1d1d;
$dark-text: #fff;
$dark-error: #fc5858;
$dark-border: #9ab6aa;

$primary: #009567;
$primary-dark: #096f57;
$primary-light: #00a360;
$primary-text: #fff;

$secondary: #132019;
$secondary-dark: #442178;
$secondary-light: #7137c8;
