$dark: #2c2c2c;
$dark-text: #fff;
$dark-error: #fc5858;
$dark-border: #4c4c4c;

$primary: #009567;
$primary-dark: #096f57;
$primary-light: #00a360;
$primary-text: #fff;

$secondary: #132019;
$secondary-dark: #442178;
$secondary-light: #7137c8;
