@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'vars';

#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', 'Nunito', Arial, Helvetica, sans-serif;
  background: $dark;
  color: $dark-text;
}

@import 'form';
@import 'login';

@import 'navbar';

@import 'domain';
@import 'domain_alias';
@import 'domain_dkim';

@import 'domain_user';
@import 'domain_user_alias';
