* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'vars';

#app {
  width: 100%;
  min-height: 100vh;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background: $dark;
  color: $dark-text;
}

@import 'form';
@import 'login';

@import 'navbar';
@import 'domain';
